#!/bin/bash
docker pull ${spark_docker_image}
docker run -d --net host --name spark-worker ${spark_docker_image} ./bin/spark-class org.apache.spark.deploy.worker.Worker -c ${spark_worker_cores} -m ${spark_worker_memory} spark://${spark_master_dns}:7077
